body{
    background-color: #0a2463 !important;
}

.indexTitleContainer{
    margin-top: 6vh;
    color: white;
    text-align: center;
}

.attackContainer{
    height: 100%;
    background: white;
    border-radius: 40px;
    padding: 3vh;
    border: 2px solid white;
    margin: 2vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.userTable{
    margin: 0 auto;
}

td{
    padding: 1vh;
}